<%- include('./includes/header.ejs') %>
</head>

<body class="animsition">
    <div class="page-wrapper">
        <%- include('./includes/sidebar.ejs')%>
        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <%- include('./includes/header-dekstop.ejs')%>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="overview-wrap">
                                    <h2 class="title-1">Data Pemasukan</h2>
                                    <button class="au-btn au-btn-icon au-btn--blue" type="button" data-toggle="modal" data-target="#modalTambahPemasukan">
                                        <i class="zmdi zmdi-plus"></i>Tambah</button>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row m-t-25">
                            <div class="col-lg-12">
                                <div class="table-responsive table--no-card m-b-40">
                                    <table class="table table-borderless table-striped table-earning">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Nama Pemasukan</th>
                                                <th>Tanggal Pemasukan</th>
                                                <th>Total</th>
                                                <th class="text-center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% dataDetailPemasukan.forEach((detailPemasukan, index) => { %>
                                            <tr>
                                                <td class="pt-3"><%= index + 1 %></td>
                                                <td class="pt-3"><%= detailPemasukan.pemasukanId.namaPemasukan %></td>
                                                <td class="pt-3"><%= detailPemasukan.tanggalPemasukan %></td>
                                                <td class="pt-3"><%= detailPemasukan.totalBiaya %></td>
                                                <td class="d-flex flex-row justify-content-center">
                                                    <button type="button" onclick="getDetail('<%= detailPemasukan.pemasukanId._id %>')" class="btn btn-primary mr-1" data-toggle="modal" data-target="#modalEditPemasukan">Edit</button>
                                                </td>
                                            </tr>
                                            <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>
        <div class="modal fade bd-example-modal-lg" id="modalTambahPemasukan" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Tambah Pemasukan</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form action="/admin/detail-pemasukan" method="POST">
                    <div class="modal-body" id="formPemasukanBody">
                        <div class="form-group">
                            <select  name="pemasukanId" id="selectPemasukan" class="form-control">
                                <option selected disabled>Pilih Masukan</option>
                                <% dataPemasukan.forEach(pemasukan => { %>
                                <option value="<%= pemasukan._id %>"><%= pemasukan.namaPemasukan %></option>
                                <% }) %>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Total</label>
                            <input type="text" class="form-control" name="total" id="totalPemasukan">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="btn-createUser" class="btn btn-primary">Buat</button>
                        <button type="button" class="btn btn-secondary btn-closeUser" data-dismiss="modal">Close</button>
                    </div>
                </form>
              </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-lg" id="modalEditPemasukan" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Tambah Pemasukan</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form action="" method="POST" id="formEditDetailPemasukan">
                    <div class="modal-body" id="formEditPemasukanBody">
                        <div class="form-group">
                            <select name="editPemasukanId" id="selectEditPemasukan" class="form-control">
                                <option selected disabled>Pilih Masukan</option>
                                <% dataPemasukan.forEach(pemasukan => { %>
                                <option value="<%= pemasukan._id %>"><%= pemasukan.namaPemasukan %></option>
                                <% }) %>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Total</label>
                            <input type="text" class="form-control" name="editTotalBiaya" id="editTotalBiaya">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="btn-createUser" class="btn btn-primary">Buat</button>
                        <button type="button" class="btn btn-secondary btn-closeUser" data-dismiss="modal">Close</button>
                    </div>
                </form>
              </div>
            </div>
        </div>
    </div>
    <script src="/js/detailPemasukan.js"></script>
    <%- include('./includes/footer.ejs') %>